<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>WebApp</servlet-name>
		<servlet-class>p1.WebAppServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebApp</servlet-name>
		<url-pattern>/webapp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WebConvertApp</servlet-name>
		<servlet-class>p1.ConvertServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebConvertApp</servlet-name>
		<url-pattern>/convert</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>WebShowApp</servlet-name>
		<servlet-class>p1.ShowServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WebShowApp</servlet-name>
		<url-pattern>/show</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
