<h1>Yuzu's rails app!</h1>
<h3>I have following endpoints:</h3>

<a href="/convert?message=yuzu">"/convert?message=yuzu"</a>
<br>
<a href="/show?message=yuzu">"/show?message=yuzu"</a>
<br>
<a href="/getword?pos=verb">"/getword?pos=name"</a>...supports: verb, noun, adjective, animal, name, adverb.
for an unsupported pos, return a random word
<br>
<!-- <a href="/convert?message=yuzu">"/convert?message=yuzu"</a> -->
